.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
.footer a {
    text-decoration: none;
    font-size: 30px;
    padding: 4px;
    }
  .fa-codepen{
    color:black;
    background-color: azure;
  }
  .fa-twitter{
  color:deepskyblue;
  }
  .fa-instagram{
  color:crimson;
  }
  .fa-linkedin{
  background-color:blue;
  color: azure;
  }
  .fa-github{
  color:azure;
  background-color:indigo;
  }
  .fa-facebook{
  color: blue;
  }